@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600;800;900&display=swap');

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/gothic/centurygothic-webfont.eot');
    src: url('../fonts/gothic/centurygothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothic/centurygothic-webfont.woff') format('woff'),
         url('../fonts/gothic/centurygothic-webfont.ttf') format('truetype'),
         url('../fonts/gothic/centurygothic-webfont.svg#gothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url('../fonts/gothicb/centurygothicbold-webfont.eot');
    src: url('../fonts/gothicb/centurygothicbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothicb/centurygothicbold-webfont.woff') format('woff'),
         url('../fonts/gothicb/centurygothicbold-webfont.ttf') format('truetype'),
         url('../fonts/gothicb/centurygothicbold-webfont.svg#gothicb') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #000;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'CenturyGothic', "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  color: #fff;
  font-size: 18px;
}

a, a:hover { color:inherit; text-decoration: none; }

div,article,section,dl,dt,dd,table,tr,td,ul,ol,li,p,span,small,em,h1,h2,h3,h4,h5,h6,nav { padding:0; margin:0; }

.container { max-width: 1200px; margin-left: auto; margin-right: auto; }

.align-items-center { -ms-flex-align: center!important; align-items: center!important; }

::selection, a.cc-btn.cc-dismiss { background: #e8608e; }
footer ::selection { background: #016469; color: #e8608e; }

/*---------------------------------------ANIMATIONS-------------------------------------------*/
.fade-in { animation: fadeIn 5s; -webkit-animation: fadeIn 5s; -moz-animation: fadeIn 5s; -o-animation: fadeIn 5s; -ms-animation: fadeIn 5s; }
@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

.console-text { border-right: .15em solid #e8608e; font-family: 'CenturyGothic-Bold'; font-size: 80px; white-space: nowrap; overflow: hidden; opacity: 0; -webkit-animation: type 3s steps(40, end), blink .4s step-end infinite alternate; animation: type 3s steps(40, end), blink .4s step-end infinite alternate; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }
@keyframes type { 0% { width: 0; } 1% { opacity: 1; } 100% { opacity: 1; } }
@-webkit-keyframes type { 0% { width: 0; } 1% { opacity: 1; } 100% { opacity: 1; } }
@keyframes blink { 50% { border-color: transparent; } }
@-webkit-keyframes blink { 50% { border-color: tranparent;  } }

/*---------------------------------------COOKIES-------------------------------------------*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important; }
a.cc-btn.cc-dismiss:hover { background: #3a3a3a; }

/*---------------------------------------CALL TO ACTION-------------------------------------------*/
.cta { display: none; }

/*---------------------------------------TYPOGRAPHY-------------------------------------------*/
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

h1 { font-family: 'CenturyGothic-Bold'; font-size: 48px; }

h2 { font-family: 'CenturyGothic-Bold'; font-size: 35px;  }

h3 { font-family: 'CenturyGothic'; font-size: 22px; line-height: 1.2; }

p, ul, nav ul li a { font-size: 16px; font-weight: 400; }

.to-pink { color: #e8608e; }

/*---------------------------------------BUTTONS-------------------------------------------*/
.btn, .fp-buttons a { font-family: 'CenturyGothic-Bold'; position: relative; overflow: hidden; z-index: 999; display: block; text-align: center; padding: 10px 5px; width: 100%; max-width: 150px; font-size: 15px; font-family: 'CenturyGothic', "Century Gothic", CenturyGothic, AppleGothic, sans-serif; background: #e8608e; color: #FFF; line-height: 1.2; -webkit-appearance: inherit; transition: transform .5s; }

.btn:hover, #header nav ul a li:hover, .fp-buttons a:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  background: #3a3a3a; 
  color: #fff;
  text-decoration: none;
}

.btn:after, .fp-buttons a:after { content: '»'; position: absolute; opacity: 0; top: 9px; right: -20px; transition: 0.5s; }
.btn:hover, .fp-buttons a:hover { padding-right: 24px; padding-left:8px; }
.btn:hover:after, .fp-buttons a:hover:after { opacity: 1; right: 10px; }

.btn-center { margin: 0 auto; }

/*---------------------------------------FLEX-------------------------------------------*/
.flex{ display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; justify-content: space-between; } 

/*---------------------------------------SOCIAL-------------------------------------------*/
.socials a{ font-size: 30px; line-height: 1.2; font-family: 'Socialico'; letter-spacing: 11px; padding: 0 20px; color: #fff }
.socials a[href="https://facebook.com"] { color: #3B5A9A; }
.socials a[href="https://linkedin.com"] { color: #117BB8; }

/*-----------------------------------------------HEADER-----------------------------------------------*/
/*HEADER MENU*/
#header .nav-holder { position: fixed; top: 0; left: 0; right: 0; margin: 0 auto; display: block; color: #fff; background-color: #000; width: 100%; z-index: 99999; max-width: 100%; border-bottom: 2px solid #e8608e; }
#header nav a#pull { display: block; color: #fff; background-color: #000; height: 95px; padding: 10px 0; width: 100%; position: relative; font-size: 26px; font-weight: 800; }
#header nav a#pull:after { content: '\002630'; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); }
#header nav a#pull img { width: 80px; display: block; margin-left: 30px; }
#header nav ul { width: 100%; display: none; height: auto; padding: 0 10%; background: #e8608e; padding-top: 2px; }
#header nav ul a { padding: 10px 0; width: 100%; color: #fff; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
#header nav ul a li { list-style: none; font-size: 23px; padding: 10px 0px; -webkit-appearance: inherit; transition: transform .5s; }
#header nav ul a li:hover { font-weight: bold; }
#header nav ul a strong { position: absolute; top: 50%; transform: translateY(-50%); left: 15px; }

/*-----------------------------------------------FRONT PAGE-----------------------------------------------*/
.fp-content { display: inline; }
.fp-content .row { max-width: 75%; }
.fp-text { background: url('../images/banner-bg.fw.png') top center; background-size: cover; background-position: 86% 3%; height: 100vh; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; color: #fff;}
.fp-text .mbhtext { display: none; }
.fp-text h1, .fp-text h3 { width: 100%; }
.fp-content .kel-top { display: none; }
.fp-buttons { justify-content: flex-start; }
.fp-buttons { margin-top: 25px; }
.fp-buttons span { margin: 0 20px; font-size: 21px; }

/*-----------------------------------------------BANNER-----------------------------------------------*/
#banner { padding: 10% 0 4%; }
#banner .box { margin: 40px 0 0 40px; }
#banner .content{ font-family: sans-serif; margin-bottom: 24px; max-width: 793px; }

/*-----------------------------------------------ABOUT PAGE-----------------------------------------------*/
.intro, #fprojects, #contact-info { padding: 60px 0; }
.intro, #fprojects { background: #f5f5f5; }

/*INTRO*/
.intro { border-top: 2px solid #e8608e; border-bottom: 2px solid #e8608e; }
.intro h3 {  color: #e8608e; font-family: cursive; font-style: italic; }

/*EXPERIENCES AND EXPERTISE*/
.cnt-border { margin: 40px 0; }
.cnt-border h2 { margin-bottom: 35px; border-top:2px solid #e8608e; }
.cnt-border h2 span { background: #e8608e; padding: 0 30px; }
.cnt-border p { line-height: 1.33; color: #fff;  }

/*EXPERIENCES*/
#experiences .job-ycomp { flex-basis: 30%; }
#experiences .job-pdesc { flex-basis: 67%; }
#experiences .row:not(:last-child) { margin-bottom: 30px; }
#experiences .job-ycomp h4 { color: #e8608e; }
#experiences .job-ycomp p { font-style: italic; font-size: 13px; }

/*EXPERTISE*/
#expertise .row > div { flex: 1 1 100%; width: 100%; max-width: 100%; }
/*toggle*/
.togglebar-cnt { background: #e8608e; margin-right: 20px; padding: 40px; }
.togglebar-cnt h3 { padding: 10px 0; border-bottom: 1px solid #dddddd; display: flex; align-items: center; justify-content: space-between; }
.togglebar-cnt h3:hover{ padding-right: 24px; padding-left:8px; transition: 0.5s; cursor: pointer; }
.togglebar-cnt .arrow-r { border: solid #fff; border-width: 0 3px 3px 0; display: inline-block; padding: 3px; transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.CntToggle { margin-bottom: 10px; padding: 15px 20px; background: #000000; }

/*progress bar*/
.progressbar-cnt { margin-left: 20px; }
.progessVal { background: #dddddd; border-radius: 20px; }
.progress-bar { color: #ffffff; background: #e8608e; border-top-left-radius: 20px;  border-bottom-left-radius: 20px; }

/*FEATURED PROJECTS*/
#fprojects h2 { color: #000 }
#fprojects .wrap { margin: 30px auto; }
#fprojects .wrap > div { background: #000; padding: 9px 27px 21px; }
#fprojects .wrap > div:not(:first-child) { margin-left: 5px; }
#fprojects .wrap .img-holder { padding: 20px 0; }
#fprojects .wrap img { max-width: 100%; }
#fprojects .fp-name { border-top: 2px solid #D6D6D6; padding-top: 20px; font-family:'CenturyGothic-Bold'; }
#fprojects .btn { margin: 0 auto; }

/*CONTACT INFO*/
#contact-info .email:hover, #contact-info .phone:hover { color: #e8608e; }

/*-----------------------------------------------PROJECTS PAGE-----------------------------------------------*/
.projects-page h1 span { background: #fff; padding: 0 50px; color: #e8608e; }
#projects-border { margin: 40px 0; }
#projects-border h2 { margin-bottom: 35px; border-top:2px solid #e8608e; }
#projects-border h2 span { background: #e8608e; padding: 0 30px; }
#projects-border .wrap { margin: 30px auto; justify-content: space-around; }
.fp-name { text-align: center; margin-top: 5px; }

.projects-page #contact-info { background: #fff; color: #000;}

/*image scroll on hover*/
/*webdev*/
#projects-border .img-holder { display: block; width: 375px; height: 500px; overflow: hidden; position: relative; border: 2px solid #fff; margin: 0 auto; border-radius: 15px;  background: #fff; }
#projects-border .img-holder img { bottom: -1105px; width: 100%; height: auto; position: absolute; z-index: 0; margin:0; padding:0; -webkit-transition: top 11s; -moz-transition: top 11s; -ms-transition: top 11s; -o-transition: top 11s; transition: bottom 11s; }
#projects-border .img-holder:hover img { bottom: 0; -webkit-transition: all 11s; -moz-transition: all 11s; -ms-transition: all 11s; -o-transition: all 11s; transition: all 11s; }

/*images padding - wbebdev activated*/
#projects-border .img-holder .tke { bottom: -1323px; }
#projects-border .img-holder .bengie { bottom: -365px; }
#projects-border .img-holder .tcc { bottom: -37px; }
#projects-border .img-holder .envi { bottom: -150px; }
#projects-border .img-holder .tfc { bottom: -1465px; }
#projects-border .img-holder .santaniello { bottom: -450px; }
#projects-border .img-holder .spcleaning { bottom: -688px; }
#projects-border .img-holder .aqshield { bottom: -637px; }
#projects-border .img-holder .lra { bottom: -844px; }
#projects-border .img-holder .DashCam { bottom: -565px; }
/*images padding - wbebdev managed*/
#projects-border .img-holder .nizym { bottom: -947px; }
#projects-border .img-holder .lithia { bottom: -1418px; }
#projects-border .img-holder .jlux { bottom: -596px; }
#projects-border .img-holder .reveille { bottom: -1147px; }
#projects-border .img-holder .apex { bottom: -793px; }
#projects-border .img-holder .shopmybiz { bottom: -580px; }
#projects-border .img-holder .paygo { bottom: 14px; }
#projects-border .img-holder .mip { bottom: -452px; }
/*images padding - wbebdev freelance*/
#projects-border .img-holder .yiadiverse { bottom: -735px; }
#projects-border .img-holder .vanessite { bottom: -619px; }
#projects-border .img-holder .gtideals { bottom: -883px; }
#projects-border .img-holder .gtiroma { bottom: -907px; }
#projects-border .img-holder .arete { bottom: -1770px; }

/*images padding - wbebdev ux/ui*/
#projects-border .img-mobile { width: 250px; height: 400px; overflow: hidden; border: 2px solid #fff; border-radius: 15px; }
#projects-border .img-mobile img { width: 100%; height: auto; }

/*images padding - brandings*/
#projects-border .img-brandings { width: 150px; height: 150px; overflow: hidden; border: 2px solid #fff; border-radius: 15px; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-content: center; background: #fff; }
#projects-border .img-brandings img { width: 100%; height: auto; }

/*images padding - other projects*/
#projects-border .img-others {  overflow: hidden; border: 2px solid #fff; border-radius: 15px; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-content: center; background: #fff; }
#projects-border .img-others img { width: 100%; height: auto; }
#projects-border .img-others.itop { width: 550px; height: 250px; }
#projects-border .img-others.imid { width: 350px; height: 450px; }
#projects-border .img-others.imid2 { width: 200px; height: 450px; }
#projects-border .img-others.ibot { width: 350px; height: 200px; }

/*-----------------------------------------------FOOTER-----------------------------------------------*/
#footer { padding: 8px 0; background: #e8608e; }
#footer .row { max-width: 800px; }
#footer .flex { justify-content: center; align-items: center; }
#footer p { font-weight: 800; margin-right: 10px; }

/*---------------------------------------RESPONSIVENESS-------------------------------------------*/
/*1200*/
@media screen and (max-width: 1200px){
  body { min-width: 320px }
  h1 { font-size: 35px; }
  .fp-text h1, .console-container { font-size: 58px; }
  .fp-text h3 { font-size: 23px; }
  #banner .row{ bottom: 0; }
  #banner .box{ padding: 60px; }
  .container { max-width: 1140px; margin: 0 5%; }
  #projects-border .img-holder { width: 300px; height: 350px; }
  #projects-border .img-mobile { width: 230px; height: 365px; }
  #projects-border .img-brandings { width: 130px; height: 130px; }

  /*images padding - wbebdev activated*/
  #projects-border .img-holder .tke { bottom: -1105px; }
  #projects-border .img-holder .bengie { bottom: -340px; }
  #projects-border .img-holder .tcc { bottom: -80px; }
  #projects-border .img-holder .envi { bottom: -171px; }
  #projects-border .img-holder .tfc { bottom: -1220px; }
  #projects-border .img-holder .santaniello { bottom: -405px; }
  #projects-border .img-holder .spcleaning { bottom: -598px; }
  #projects-border .img-holder .aqshield { bottom: -557px; }
  #projects-border .img-holder .lra { bottom: -724px; }
  #projects-border .img-holder .DashCam { bottom: -500px; }
  /*images padding - wbebdev managed*/
  #projects-border .img-holder .nizym { bottom: -804px; }
  #projects-border .img-holder .lithia { bottom: -1181px; }
  #projects-border .img-holder .jlux { bottom: -524px; }
  #projects-border .img-holder .reveille { bottom: -965px; }
  #projects-border .img-holder .apex { bottom: -684px; }
  #projects-border .img-holder .shopmybiz { bottom: -513px; }
  #projects-border .img-holder .paygo { bottom: -30px; }
  #projects-border .img-holder .mip { bottom: -410px; }
  /*images padding - wbebdev freelance*/
  #projects-border .img-holder .yiadiverse { bottom: -635px; }
  #projects-border .img-holder .vanessite { bottom: -542px; }
  #projects-border .img-holder .gtideals { bottom: -755px; }
  #projects-border .img-holder .gtiroma { bottom: -773px; }
  #projects-border .img-holder .arete { bottom: -1461px; }
  /*images padding - other projects top*/
  #projects-border .img-others.itop { width: 465px; height: 216px; }
  /*images padding - other projects mid*/
  /*images padding - other projects bot*/
  #projects-border .img-others.ibot { width: 310px; height: 175px; }
}

/*959*/
@media screen and (max-width: 959px){
  .row { margin-left: 0 !important; margin-right: 0 !important; }
  h1 { font-size: 32px; }
  h2 { font-size: 25px; }
  .fp-content .row { max-width: 100%; }
  .fp-text h3 { font-size: 20px; }
  #header { border-top: 0; padding-top: 65px; }
  #header nav a#pull { height: 60px; }
  #header nav a#pull img { width: 45px; }

  .cta{ background: #e8608e; border-bottom-left-radius: 40px; color: #fff; border-top: 2px solid #EBEBEB; border-top-left-radius: 40px; bottom: 1%; display: block; height: 80px; position: fixed; right: 0; width: 100px; z-index: 999; font-size: 50px; }

  #banner { margin-top: -8%; }
  #banner .box { padding: 0px; }
  #banner img { width: 350px; height: 350px; }
  #banner .content { margin-bottom: 15px; max-width: 100%; }
  #banner .btn, #experiences .btn, #expertise .btn { margin: 0 auto; }
  .intro h3 { font-size: 20px; }
  #experiences .foreword, #expertise .foreword, #experiences h2, #expertise h2, #experiences .content, #expertise .content { margin-bottom: 15px; }
  #experiences .job-ycomp, #experiences .job-pdesc { text-align: center; margin-bottom: 20px; }
  #experiences .row, #expertise .row { flex-wrap: wrap; justify-content: center; flex-direction: column; }
  #experiences .img-holder img, #expertise .img-holder img { position: static; transform: none; }
  .togglebar-cnt, .progressbar-cnt { max-width: 600px !important; margin: auto; }
  .togglebar-cnt { margin: 30px auto 50px; }
  #fprojects, #experiences, #expertise  { padding-top: 15px; padding-bottom: 15px; }
  #fprojects h2 { margin-bottom: 15px; }
  #fprojects .wrap, #projects-border  .wrap { justify-content: center; flex-direction: column; align-items: center; }
  #fprojects .wrap > div, #projects-border .wrap > div { margin-bottom: 15px; padding: 9px; text-align: center; }
  #fprojects .wrap > div:not(:first-child) { margin-left: 0; }
  #projects-border .img-holder img { position: static; }
  #projects-border .img-brandings { width: 170px; height: 170px; }
  #contact-info { padding: 15px 0; }
  #contact-info h3 { font-size: 28px; }
  #footer nav ul { flex-wrap: wrap; }
}

/*767*/
@media screen and (max-width: 767px){
  .front-page ::selection { color: #fff; }
  .fp-text { background: none; }
  .front-page { border: 2px solid #e8608e; background: #000; }
  .fp-content .kel-top { display: block; margin: auto auto 30px; }
  .fp-text .mbhtext { display: block; }
  .console-text { display: none; }
  .fp-text h1, .fp-text h3, h1, p { text-align: center; }
  .fp-text h1 { color: #e8608e; font-size: 42px; background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif); color: transparent; -moz-background-clip: text; -webkit-background-clip: text; }
  .fp-text h3, h3 { font-size: 18px; }
  .fp-buttons { justify-content: center; }
  h1 { font-size: 28px; }
  h4 { font-size: 16px; }
  .intro, #fprojects, #contact-info { padding: 35px 0; }
  #banner .row { display: block; }
  #banner img, .fp-content .kel-top { width: 300px; height: 300px; border-radius: 50%; -webkit-transform: rotate(311deg); -moz-transform: rotate(311deg); -ms-transform: rotate(311deg); -o-transform: rotate(311deg); transform: rotate(311deg); border: 2px solid #e8608e; }
  #banner .box {  margin: 0; }
  #projects-border .img-others.itop { width: 400px; height: 190px; }
}

/*425*/
@media screen and (max-width: 425px){
  #banner img, .fp-content .kel-top { width: 150px; height: 150px; }
  .fp-text h1 { font-size: 33px; }
  .fp-text h3,  p, h3 { font-size: 15px; }
  .fp-buttons a { padding: 8px 6px; font-size: 12px; }
  h2 { font-size: 20px; }
  #projects-border .img-others.itop { width: 290px; height: 136px; }
  #projects-border .img-others.imid { width: 260px; height: 340px; }
  #projects-border .img-others.ibot { width: 270px; height: 150px; }
  #footer p { font-size: 14px; }
}